<div class="container">
  <div class="form-page">
  <%= render 'shared/header', text:"NEW GROUP", path:groups_path %>
    <div class="form-container">
      <h2>Edit Group</h2>
      <%= render partial: 'form'%>
    </div>
  </div>
</div>
