<div class="container">
  <%= render 'shared/header', text:@group.name, path:groups_path %>
  <div class="groups-page">
    <%= render partial: 'shared/transaction' , collection: @transactions , as: :transaction%>
    <%= link_to 'New Group', new_transaction_path , class: "create-button" %>
  </div>
</div>
