<div class="header">
<%= link_to path do%>
<i class="fa fa-arrow-circle-o-left fa-2x" aria-hidden="true"></i>
<%end%> 
<span><%=text%></span>
<%= link_to path do%>
<i class="fa fa-home fa-2x" aria-hidden="true"></i>
<%end%> 
</div>