<div class="container">
  <%= render 'shared/header', text:"TRANSACTIONS", path:groups_path %>
  <div class="groups-page">
    <p>Total Amount</p>
    <%= render partial: 'shared/transaction' , collection: @transactions , as: :transaction %>
    <%= link_to 'New Transaction', new_transaction_path , class: "create-button" %>
  </div>
</div>
